
<!--extends esta usando o block div para adicionalo no html escolhido  -->
{% extends 'global/base.html' %}

{% block title %} Home | {% endblock title %}

<!--Nescessario usar {% block } nos dois arquivos 
    para definir o bloco que vai se inserido
    e onde ele vai ficar-->
{% block content %}

<div class="main-content container main-content-list">

    <!-- for do django-->
    <!-- esta sendo usando para replicar o includer-->
    {% for recipe in recipes  %}
        {% include 'recipes/partials/recipe.html' %}    
    {% endfor %}        
</div>
{% endblock content %}
